@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    cursor: url(../images/cursor.png), auto !important;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    color: #333;
    font-size: 15px;
    line-height: 1.5;
    min-width: 1320px;
}

::selection {
    background-color: #ccc;
}

/* 스크롤바 */

body::-webkit-scrollbar {
    /*스크롤바 전체*/
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    /*스크롤바 막대*/
    background-color: #288D43;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    /*스크롤바 막대 외부*/
    background-color: #cccccc;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

/* 헤더 */
header {

    width: 100%;
    background-color: white;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    padding: 10px 0;
    top: 0;
    left: 0;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
}

.logo,
.icon {
    width: 20%;
}

.logo {
    margin-left: 30px;
}

.nav {
    width: 60%;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;

}

.nav>li {
    flex: 1;
    text-align: center;
    position: relative;

}

.nav img {
    margin-bottom: -7px;
}

.nav>li>a {
    display: block;
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    font-weight: 600;
    transition: .2s;
}

.nav>li>a span {
    position: relative;
    color: black;
}

.nav>li>a span::before {
    position: absolute;
    content: '';
    z-index: 1;
    display: block;
    width: 120%;
    height: 50px;
    background-color: #288d43;
    mix-blend-mode: lighten;
    left: -10px;
    bottom: -10px;
    transform: scalex(0);
    transform-origin: left;
    transition: .5s;
}

.nav li:hover a span::before {
    transform: scale(1);
}

.nav>li>a span::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #288D43;
    left: 0;
    bottom: -1px;
    transform: scalex(0);
    transform-origin: left;
    transition: .5s;
}

.nav>li:hover>a span::after {
    transform: scale(1);

}

.icon {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: end;
    margin-right: 30px;
}

.icon a {
    font-weight: 700;
    color: #288d43;
    margin-left: 30px;
    display: block;
}

.sub {
    position: absolute;
    left: 0;
    width: 100%;
    padding-top: 30px !important;
    display: none;


}

.sub a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    background-color: white;
    font-weight: 600;
    transition: .2s;
    border-bottom: #eee 1px solid;
    border-right: #288d43 2px solid;
    border-left: #288d43 2px solid;

}

.sub li:last-child a {
    border-radius: 0 0 10px 10px;
    border-bottom: #288d43 2px solid;

}

.sub a:hover {
    color: #288D43;
    border-bottom: #288d43 1px solid;
}

/* 메인배너 */
.main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 420px;
    margin-top: 97.5px;
    overflow: hidden;
    position: relative;
    background: url(../images/main_shop.png) center center no-repeat;
    background-size: cover;
}

.main h1 {
    text-align: center;
    font-size: 70px;
    font-weight: 900;
    font-family: "Josefin Sans", sans-serif;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.circle_text {
    position: absolute;
    top: -100px;
    right: -100px;
    animation: circle 20s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* con1 */
.con1 h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin: 150px 0 0;
}

.name {
    font-weight: 600;
    font-size: 17px;
}

.price,
.name {
    text-align: center;
}

/* 갤러리 센터 꾸미기 */
.gallery-center {
    width: 100%;
    height: 100%;
    margin: 50px auto;
    padding: 0 0px 40px;
    box-sizing: border-box;
    position: relative;
}

.gallery-center_inner {
    width: 100%;
    margin-bottom: 50px;
    overflow: hidden;
}

.gallery-center .swiper-slide a {
    width: 100%;
    height: 100%;
}

.gallery-center .swiper-slide img {
    display: block;
    width: 100%;
}

/*이동버튼 영역 색상 바꾸기*/
.gallery-center .swiper-button-prev,
.gallery-center .swiper-button-next {
    color: #333;
    transition: .3s;
    box-sizing: border-box;
    mix-blend-mode:luminosity;
    top: 200px;
}
.gallery-center .swiper-button-prev{
    left: 200px;
 
    
}
.gallery-center .swiper-button-next{
    right: 200px;
}

/*이동버튼 영역 호버 시 색상 바꾸기*/
.gallery-center .swiper-button-prev:hover,
.gallery-center .swiper-button-next:hover {
    color: #288d43;
}

/* 블릿버튼 크기, 색상, 투명도 */
.gallery-center .swiper-pagination-bullet {
    background: #333;
    width: 200px;
    height: 2px;
    border-radius: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    transition: .5s;
}

/* 블릿버튼 페이지 표시날 때 투명도 */
.gallery-center .swiper-pagination-bullet-active {
    background-color: #288d43;
}

/* 블릿버튼 위치 */
.gallery-center .swiper-horizontal>.swiper-pagination-bullets,
.gallery-center .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px;
}

/* tape */
.tape {
    overflow: hidden;
    padding: 100px 0;
    margin-bottom: -150px;
}

.green,
.gray {
    margin-left: -10px;
    margin-right: -10px;
}

.green {
    background-color: #288D43;
    height: 100px;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    transform: rotate(2deg);
}

.gray {
    background-color: #333;
    height: 100px;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    transform: rotate(-2deg);
}

.green div {
    width: 500%;
    height: 80px;
    background: url(../images/tape_text_gr.png) repeat-x;
    position: absolute;
    animation: green 20s linear infinite;
    top: 25px;

}

.gray div {
    width: 500%;
    height: 80px;
    background: url(../images/tape_text_gn.png) repeat-x;
    position: absolute;
    animation: gray 20s linear infinite;
    top: 25px;
}

@keyframes green {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@keyframes gray {
    0% {
        right: 0;
    }

    100% {
        right: -100%;
    }
}

/* con2 */
.con2 {
    padding-top: 200px;
    background: url(../images/glued_paper.png);
}

.con2 h2 {
    display: block;
    font-size: 50px;
    text-align: center;
}

.tab {
    width: 1320px;
    margin: auto;
}

.tabnav {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 80px 0;
}

.tabnav li {
    font-weight: 500;
}

.tabnav li a {
    display: block;
    padding: 30px;
    border-radius: 50%;
    border: 1px solid #333;
    transition: .3s;
    margin: 0 10px 5px;
}

.tabnav li:nth-child(1) a{
    background: url(../images/shop_icon1.png) white no-repeat center center;
}
.tabnav li:nth-child(1) a:hover, .tabnav li:nth-child(1) a.active{ 
    background: url(../images/shop_icon1_hv.png) #333 no-repeat center center;
}

.tabnav li:nth-child(2) a {
    background: url(../images/shop_icon2.png) white no-repeat center center;
}

.tabnav li:nth-child(2) a:hover, .tabnav li:nth-child(2) a.active{
    background: url(../images/shop_icon2_hv.png) #333 no-repeat center center;
}

.tabnav li:nth-child(3) a {
    background: url(../images/shop_icon3.png) white no-repeat center center;
}

.tabnav li:nth-child(3) a:hover, .tabnav li:nth-child(3) a.active{
    background: url(../images/shop_icon3_hv.png) #333 no-repeat center center;
}

.tabnav li:nth-child(4) a {
    background: url(../images/shop_icon4.png) white no-repeat center center;
}

.tabnav li:nth-child(4) a:hover, .tabnav li:nth-child(4) a.active{
    background: url(../images/shop_icon4_hv.png) #333 no-repeat center center;
}

.tabnav li:nth-child(5) a {
    background: url(../images/shop_icon5.png) white no-repeat center center;
}

.tabnav li:nth-child(5) a:hover, .tabnav li:nth-child(5) a.active{
    background: url(../images/shop_icon5.hv.png) #333 no-repeat center center;
}

.tabcontent ul{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.tabcontent li {
    width: 400px;
    margin-bottom: 80px;
}

.tabcontent li:hover .imgbox {
    box-shadow: 0 0 0 3px #288d43 inset;
}

.tabcontent li:hover .imgbox img {
    width: 77%;
}

.imgbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 20px;
    margin-bottom: 30px;
    height: 400px;
    transition: .3s;
}

.imgbox img {
    display: block;
    width: 80%;
    transition: .3s;
}

/* app banner */

.app {
    background: url(../images/app_banner.jpg) center center no-repeat;
    width: 100%;
    height: 300px;
    text-align: center;

}

.app_in {
    height: 300px;
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.app_in h1 {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.3;
}

.app_in span {
    color: #288d43;
}
.app_in ul{
    position: absolute;
    right: 0;
}
.app li:nth-child(1) a {
    background: url(../images/playstore.png) #fff no-repeat center center;
    transition: .3s;
}

.app li:nth-child(1) a:hover,
.app li:nth-child(2) a:hover {
    background-color: #eee;
}

.app li:nth-child(2) a {
    background: url(../images/appstore.png) #fff no-repeat center center;
    transition: .3s;
}

.app li a {
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

/* footer */
footer {
    background-color: #333;
    color: #ccc;
    padding: 100px 0 0;
    position: relative;
    overflow: hidden;
    height: 450px;
}

.footer_left h3 {
    margin: 35px 0;
    font-weight: 400;
}

.footer_in p {
    margin: 15px 0;
}

.footer_in hr {
    opacity: 0.5;
    margin-top: 15px;
}

.footer_in {
    width: 1320px;
    margin: auto;
}

.footer_link {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

.footer_link a {
    color: #ccc;
    font-weight: 300;
    margin-right: 25px;
}

.footer_link a:hover {
    color: white;
}

.bottom {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
}

.footer_right {
    text-align: right;
}

.footer_right ul {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: right;

}

.footer_right ul:nth-child(1) {
    margin: 35px 0;
}

.footer_right li {
    margin-left: 20px;
    position: relative;
}

.footer_hv {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: .2s;
}

.footer_hv:hover {
    opacity: 1;
}

.footer_right h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.contact a {
    color: #ccc;
}

.contact a:hover {
    color: white;
}

/* 고정버튼 */
.fix {
    position: fixed;
    bottom: 50px;
    right: 55px;
    z-index: 500;
}

.fix_hv {
    position: fixed;
    right: 55px;
    opacity: 0;
    transition: .2s;
}

.fix_hv:hover {
    opacity: 1;
}
/* popup */
.popup {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 50;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

.cancel {
    position: absolute;
    right: 40px;
    top: 30px;
    color: #288d43;
    font-size: 25px;
    font-weight: bold;
}

.popup form {
    position: relative;
    z-index: 100;
    width: 650px;
    padding: 50px 60px;
    box-sizing: border-box;
    margin: 200px auto;
    border: #288D43 solid 2px;
    border-radius: 30px;
    background-color: white;
}

.popup form h1 {
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: 600;
}

form ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form p {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0 10px;
}

form li input {
    border-radius: 50px;
    border: #288D43 1px solid;
    padding: 8px 20px;
    width: 250px;
    box-sizing: border-box;
}

.check label {
    margin-right: 10px;
    font-weight: 500;
}

.check input {
    display: none;
}

.check .select {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid #288D43;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    margin-right: 5px;
}

.check input:checked~.select {
    background-color: #288d43;
}

input[type='file'] {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

.file_box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
}

.file_btn {
    width: 100px;
    height: 40px;
    line-height: 30px;
    background: #288d43;
    border-radius: 50px 0 0 50px;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
}

.file_btn:hover {
    background-color: #333;
    color: #288d43;

}

.file_selected {
    padding: 0 5px 0 15px;
    display: block;
    width: 250px;
    min-height: 30px;
    border: 1px solid #288d43;
    border-radius: 0 50px 50px 0;
    line-height: 2.5;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.agree input {
    display: none;
}

.agree {
    font-weight: 500;
}

.checked {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid #288d43;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.checked::before,
.checked::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 0;
    background: rgb(17, 85, 36);
    position: absolute;
    transform-origin: left top;
    border-radius: 5px;
}

.checked::before {
    top: 5px;
    left: 0px;
    transform: rotate(-45deg);
}

.checked::after {
    top: 9px;
    left: 4px;
    transform: rotate(-135deg);
}

.agree input:checked~.checked {
    border-color: #288d43;
}

.agree input:checked~.checked::before {
    height: 5px;
    transition: all 0.5s ease;
}

.agree input:checked~.checked::after {
    height: 12px;
    transition: all 0.5s ease;
}

form a {
    color: #288d43;
    font-weight: 500;
}

form button {
    position: absolute;
    right: 60px;
    bottom: 60px;
    cursor: pointer;
    display: block;
    border: none;
    background: linear-gradient(135deg, #333 50%, #288d43 50%) 100% 0;
    background-size: 250%;
    color: white;
    width: 80px;
    height: 80px;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 50%;
    transition: 1s;
    font-family: "Noto Sans KR", sans-serif;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-position: 0;
    color: #288D43;

}

/* 커서 */
#cursor {
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
    mix-blend-mode: luminosity;

  }

  @media (hover: hover) and (pointer: fine) {
    .cursor__circle {
      width: 30px;
      height: 30px;
      margin-top: -50%;
      margin-left: -50%;
      border-radius: 50%;
      background-color: rgba(40, 141, 67,0.8);
      mix-blend-mode: difference;
      transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
        height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    #cursor.arrow .cursor__circle {
      width: 100px;
      height: 100px;
      background-color: #333;
    }

    #cursor.arrow::after {
      content: '';
      position: absolute;
      left: -50%;
      top: -50%;
      width: 100%;
      height: 100%;
      background-image: url('https://svgshare.com/i/MzQ.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    #cursor.subtle .cursor__circle {
      opacity: 0.16;
    }

    #cursor.overlay .cursor__circle {
      width: 48px;
      height: 48px;
      background-color: rgba(175, 156, 49, 0.08);
      border-color: transparent;
    }
  }